.empty{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.empty-img {
    height: 225px;
  }

  .empty-text {
    font-size: 25px;
    color: #62c241;
    text-align: center;
  }