.pokemon{
    width: 300px;
    margin: 25px;
    border-radius: 15px;
    overflow: hidden;
}

.pokemon_img{
   /*  width: 300px;
    height: 500px; */
}

.pokemon_title{
    text-align:center;
}

.pokemon_details-start{
    cursor: pointer;
    width: 25px;
    height: 25x;
   position: absolute;
    top: 20px;
    left: 245px;
}
.pokemon_details-x{
    cursor: pointer;
    width: 25px;
    height: 25x;
   position: relative;
    top: 20px;
    left: 230px;
}

.pokemon_details-start.wichlist{
    fill: #ffffff;
}
.pokemon_details-start.wichlist:hover{  
    fill: red;
}
.pokemon_details-start.nowichlist{
      fill: #ffffff;
}
.pokemon_details-start.nowichlist:hover{
    fill: red;   
   } 

/* .btn{
    visibility:hidden;
   } */